@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");


* {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'MyWebFont';
    src: url('../ds_digital/DS-DIGI.TTF');
    src: url('../ds_digital/DS-DIGIB.TTF') format('embedded-opentype'), url('../ds_digital/DS-DIGII.TTF') format('woff'), url('../ds_digital/DS-DIGIT.TTF') format('truetype'), url('../ds_digital/DS-DIGIT.TTF') format('svg');
}

@font-face {
    font-family: 'squid';
    src: url('../game_of_squids/Game\ Of\ Squids.ttf');
    src: url('../game_of_squids/Game\ Of\ Squids.otf') format('embedded-opentype'), url('../game_of_squids/Game\ Of\ Squids.ttf') format('ttf'), url('IT.TTF') format('truetype'), url('../game_of_squids/Game\ Of\ Squids.png') format('png');
}




body {
    background-image: url("https://media.istockphoto.com/photos/server-room-data-center-for-cloud-computing-picture-id1316753802?b=1&k=20&m=1316753802&s=170667a&w=0&h=hXzXrLmyr1oRsFXsZtP8dwHNR2MWB6a7Dl_JooodOuU=");
    display: block;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center;
    background-size: contain;
}

.time {
    margin: 10px;
    color: white;
    font-weight: bold;
    font-family: 'MyWebFont';
}

li {
    list-style-type: none;
    color: black;
}


.certifications {
    color: black;
    list-style-type: disc;
}


#toTop:hover {
    color: white;
    cursor: pointer;
}

.links {
    float: right;
    color: white;
    position: relative;
    margin: 0px 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.links:hover {
    color: #091553;
    background-color: white;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    transition-duration: 0.7s;
    padding: auto;
}

.contact {
    display: flex;
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    color: #091553;
    transition-duration: 0.3s;
}

hr {
    border: 3px solid #091553;
 background-color: #091553;
}

#navbar {
    background-color: #091553;
    color: white;
    height: 40px;
    padding: 5px;
    width: 100%;
    border-radius: 2px;
    position: relative;
    padding-bottom: 20px;
    font-family: "Orbitron", sans-serif;
    margin-bottom: 5px;
}

ul {
    display: flex;
    flex-direction: column;
    color: black;
}

#displayScreen {
    height: 1080px;
}

.img {
    width: 200px;
    height: 100px;
}

#closingScreen {
    background-color: rgba(10, 9, 9, 0.795);
    clip-path: ellipse(100% 100% at 34% 100%);
    height: 200px;
    width: 100%;
    display: flex;
    color: white;
    font-size: 28px;
    padding-top: 10px;
    margin-top: 300px;
}

.projects {
    width: 400px;
    height: 600px;
    background-color: rgb(167, 179, 189);
    margin: 100px 20px;
    border-radius: 10px;
}

#showcase {
    display: flex;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.down {
    float: right;
    padding-right: 30px;
}

.shortcuts {
    border: 1px solid black;
    border-radius: 10px;
    height: 70px;
    width: 90%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    margin: 10px;
    flex-direction: column;
    box-shadow: 1px 0px 2px 1px black;
    padding-left: 20px;
}

.shortcuts:hover {
    cursor: pointer;
}

#playtext1 {
    text-align: center;
    color: white;
    padding: 300px 10px;
    font-weight: 900;
    font-size: 40px;
    padding-top: 230px;


}

#playtext2 {
    text-align: center;
    color: #091553;
    padding: 40px 10px 0px 100px;
    font-weight: lighter;
    font-size: 30px;
    float: right;
    margin-right: 100px;
}

#playbox {
    margin-bottom: 20px;
    height: 800px;
    display: flex;
    justify-content: center;
    font-family: "Orbitron", sans-serif;
    color: blue;
}

#playbox1 {
    width: 100%;
    height: 100%;
    display: block;
    justify-content: space-around;
}

#playbox2 {
    padding-top: 10px;
    width: 50%;
    height: 100%;
    display: block;

    justify-content: center;
}

.curve {
    clip-path: ellipse(100% 80% at top);
    background-color: #091553;
    z-index: -2;
    font-size: xx-large;
    height: 80px;
    display: flex;
    width: 100%;
    flex-flow: column wrap;
    align-items: center;
    padding: 0px;

}
#tag{
    color: white;
    font-family: 'Orbitron',sans-serif;
    font-size: large;
    margin: 10px;
}
.infoheadings {
    font-size: larger;
    color: black;
    font-weight: bold;

}

.information {
    display: none;
    font-size: large;
    color: black;
    background-color: whitesmoke;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0px 50px 20px 50px;
    width: 85%;
}

#skills {
    display: none;
    align-content: center;
    padding-top: 0px;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 85%;
    background-color: whitesmoke;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}